#drawing-container {
	width: 200px;
	height: 200px;
	position: relative;
}

#drawing {
	background-color: transparent;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

#draw-clone {
	outline: 1px solid gray;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

#draw-clone.active {
	outline: 2px solid red;
}

#connect-status {
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	background-color: gray;
}

#connect-status.active {
	background-color: green;
}

#connect-status.error {
	background-color: red;
}
