#drawing {
	border: 1px solid gray;
}

#draw-clone {
	border: 1px solid gray;
}

#draw-clone.active {
	border: 2px solid red;
}

#connect-status {
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	background-color: gray;
}

#connect-status.active {
	background-color: green;
}

#connect-status.error {
	background-color: red;
}
